<?php

//
// The details of your Panda account
// Use api-eu.pandastream.com if your account is in the EU
//

$panda_config = array(
    'api_host' => 'api.pandastream.com', 
    'cloud_id' => 'your-cloud-id',,
    'access_key' => 'your-access-key',
    'secret_key' => 'your-secret-key',
);

$panda = new Panda($panda_config);

date_default_timezone_set('UTC');

?>
