<?php

//
// The details of your Panda account
//
$panda = new Panda(array(
    'api_host' => 'api.pandastream.com', // This default will normally be fine
    'cloud_id' => 'your-panda-cloud-id',
    'access_key' => 'your-panda-access-key',
    'secret_key' => 'your-panda-secret-key',
));

//
// The S3 bucket where your Panda cloud has been told to store encoded videos
//
$s3_bucket_name = 'your-s3-bucket';

?>